body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, input.error, textarea.error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors, .error {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.seat-number{
    text-decoration: none;
    padding: 5px;
    height: 150px;
    position: relative;
    margin-bottom: 0px;
}

.seat-number:hover{
    text-decoration: none;
}

.seat-number span:first-child{
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
}

.seat-number span:last-child{
    font-size: 18px;
}

.select-time {
    display: inline-block;
    width: 100px;
}

.padding-5px {
    padding: 5px
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
.full-width {
    width: 100%;
}
.sum-header {
    padding: 10px;
    float: right; 
    margin: 0 10px;
}